option_settings:
  aws:elasticbeanstalk:application:environment:
    POSTGRES_SERVER: '{{resolve:secretsmanager:expense-tracker/app-secrets:SecretString:POSTGRES_SERVER}}'
    POSTGRES_USER: '{{resolve:secretsmanager:expense-tracker/app-secrets:SecretString:POSTGRES_USER}}'
    POSTGRES_PASSWORD: '{{resolve:secretsmanager:expense-tracker/app-secrets:SecretString:POSTGRES_PASSWORD}}'
    POSTGRES_DB: '{{resolve:secretsmanager:expense-tracker/app-secrets:SecretString:POSTGRES_DB}}'
    SECRET_KEY: '{{resolve:secretsmanager:expense-tracker/app-secrets:SecretString:SECRET_KEY}}'
    EB_ENVIRONMENT_URL: "${AWS::ElasticBeanstalk::Environment.EndpointURL}" 